<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    <%= title %>
  </title>
  <%- include("partials/head") %>
</head>

<body>
  <!-- HEADER -->
  <%- include("partials/navigation") %>

    <!-- My Content -->
    <main class="container pt-2 text-center d-flex justify-content-center align-items-center vh-100">
      <section>
        <h1 class="display-1">Nosotros</h1>

        <p>
          La Universidad Tecnológica de Durango inicia actividades académicas el 07 de septiembre de 2009 en
          instalaciones provisionales, se contaba con 4 trabajadores administrativos incluyendo al Rector y con una
          matrícula inicial de 159 estudiantes distribuidos en cuatro carreras: Tecnologías de la Información y
          Comunicación, Clasificación Arancelaria y Despacho Aduanero, Energías Renovables área Calidad y Ahorro de
          Energía y Mecatrónica.
          En septiembre de 2010, con el objeto de atender el Programa de Fortalecimiento y Consolidación del Modelo
          Educativo del Subsistema de Universidades Tecnológicas, en el que señala que el diseño de los Programas
          Educativos deberá estar basado en Competencias Profesionales.

          Los Programas Educativos de Técnico Superior Universitario se integran en Familia de Carreras, por lo que la
          denominación de los Programas Educativos cambia de Mecatrónica a Mecatrónica Área: Sistemas de Manufactura
          Flexible y de Clasificación Arancelaria y Despacho Aduanero a Operaciones Comerciales Internacionales, Área:
          Clasificación Arancelaria y Despacho Aduanero.

          En septiembre de 2011, se obtiene la autorización para ofrecer en la UTD nivel ingeniería, aperturando las
          ingenierías de: Energías Renovables, Tecnologías de la Información, Mecatrónica y Logística Internacional.
          Teniendo un ingreso de 76 alumnos.
          Atendiendo a la demanda del sector productivo en septiembre 2013, se apertura la carrera de Técnico Superior
          Universitario en Desarrollo de Negocios área Mercadotecnia.

          El 28 de noviembre 2013 la Universidad Tecnológica de Durango fue acreedora del Reconocimiento a la Excelencia
          Académica por lograr que el 100% de la matrícula de TSU curse programas de buena calidad, evaluadas por el
          Comité Interinstitucional para la Evaluación de la Educación Superior (CIEES).

          En septiembre 2014 se apertura la Unidad Académica Bilingüe Internacional Sustentable de la UTD, con una
          matrícula de 170 alumnos en las carreras de: Operaciones Comerciales Internacionales, Mecatrónica y Desarrollo
          de Negocios.
          En septiembre 2015 se apertura la carrera de Técnico Superior Universitario en Mantenimiento área Industrial y
          en septiembre 2017 la carrera de Técnico Superior Universitario en Lengua Inglesa.

          En enero 2020 se apertura la Licenciatura en Gestión Institucional Educativa y Curricular, ques es la
          continuidad de estudios de Técnico Superior Universitario en Lengua Inglesa.
        </p>
      </section>
    </main>
</body>

</html>